/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * forbiddenisland implementation : © Jeff DiCorpo <jdicorpo@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * forbiddenisland.css
 *
 * forbiddenisland stylesheet
 *
 */

/*

    This is the CSS stylesheet of your game User Interface.
    
    Styles defined on this file will be applied to the HTML elements you defined in your
    HTML template (gomoku_gomoku.tpl), and to HTML elements you create dynamically
    (in gomoku.js).
    
    Usually, you are using CSS to:
    
    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).
    
    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. This is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easyly.
        
        
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/


@import url(../../../css/csslayer.css);

html {
    /* background: url(img/ocean-back-2.jpg) */
    background: url(img/ocean-back-3.jpg);
}

.anchor {
	position: relative;
	width: 100%; 
	/* overflow-x: auto; */
	/* overflow-y: hidden; */
	margin: auto;
	/* text-align: center; */
}

#board {
    /* width: 100%; */
    width: 954px;
    /* max-width: 954px; */
    height: 816px;
    /* background-image: url('img/tiles.jpg'); */
    /* background-color: palegoldenrod; */
    position: relative;
    margin: auto;
    /* display: inline; */
}

#water_level_meter {
    width: 128px;
    height: 386px;
    background-image: url(img/flood_meter.jpg);
	border-radius: 10px;
	box-shadow: 1px 1px 1px 0px #222;
    background-clip: content-box;
    position: absolute;
}

#water_slider {
    width: 59px;
    height: 25px;
    background-image: url(img/slider.png);
	border-radius: 5px;
	box-shadow: 1px 1px 1px 0px #222;
    background-clip: content-box;
    position: absolute;
    z-index: 20;
    color: white;
	font-weight: bold;
    font-size: small;
    opacity: 80%;
    /* padding-left: 10px; */
}

.water_level {
    /* position: relative; */
    position: absolute;
    width: 59px;
    height: 25px;
    /* background-color: red; */
    /* opacity: 50%; */
}

.island_tile {
    background-image: url(img/tiles.jpg);
    border-radius:15px;
    border-style: none;
	box-shadow: 1px 1px 1px 0px #222;
    width: 128px;
	height: 128px;
	/* color: blue;
	font-weight: bold;
    font-size: small; */
	background-clip: content-box;
    position: absolute;
    opacity: 70%;
}

.island_tile_sunk {
    /* background-image: url(img/tiles.jpg); */
    border-radius: 10px;
    border-style: dashed;
    border-width: 2px;
    border-color: rgb(78, 78, 78);
	/* box-shadow: 1px 1px 1px 0px #222; */
    width: 128px;
	height: 128px;
	/* color: blue;
	font-weight: bold;
    font-size: small; */
	background-clip: content-box;
    position: absolute;
    opacity: 70%;
}

.island_tile_location {
    border-radius: 10px;
    /* border-style: dotted; */
    /* border-width: 1px; */
	/* box-shadow: 1px 1px 1px 0px #222; */
    width: 128px;
	height: 128px;
	/* background-clip: content-box; */
    position: absolute;
}

.pawn_area {
    /* background-image: url(img/tiles.jpg); */
	/* border-radius: 10px; */
	/* box-shadow: 1px 1px 1px 0px #222; */
	/* z-index: 20; */
    /* width: 128px; */
    width: 95%;
	/* max-width: 128px; */
    height: 70px;
    margin-top: 45px;
    /* margin-right: 10px; */
	/* background-size: calc(400px * 4);  */
	/* background-clip: content-box; */
    /* background-color: lightblue; */
    /* opacity: 30%; */
    /* position: absolute; */
    /* vertical-align: bottom; */
    /* display: inline-block; */
}

.pawn {
    background-image: url(img/pawns.png);
    border-radius: 10px;
    background-size: auto 57px;
	/* box-shadow: 1px 1px 1px 0px #222; */
	z-index: 5;
	width: 31.5px;
	height: 57px;
	/* background-size: calc(400px * 4);  */
    /* margin-left: 10px; */
    /* margin-right: -10px; */
    margin-bottom: -15px;
    background-clip: content-box;
    /* position: relative; */
    display: inline-block;
    /* vertical-align: bottom; */
    /* float: right; */
    
}

.card {
	border-radius: 10px;
    box-shadow: 1px 1px 1px 0px #222;
    border-color: white;
    border-width: thin;
    border-style: solid;
	/* z-index: 20; */
	width: 128px;
	height: 177.75px;
	background-clip: content-box;
    position: absolute;
    display: inline-block;
}

.player_card {
    background-image: url(img/player.jpg);
}

.player_area {
    display: inline-block;
	position: relative;
    vertical-align: top;
    width: 100%;
    /* padding: 5px 0px 0px 10px; */
}

.player_adventurer {
    margin-left: 40px;
    display: inline;
    /* width: 128; */
    /* height: 177.75px; */
    position: absolute;
}

.player_card_area {
    /* margin-left: 50px; */
    display: inline-block;
    width: 50%;
    margin-left: 178px;
}

.player_figure_area {
    /* margin-left: 50px; */
    display: inline-block;
    width: 30%;
    /* margin-left: 178px; */
    /* background-color: red; */
    /* opacity: 70%; */
	height: 177.75px;

}

/* .player_card_area > .card { */
    /* margin-left: 10px; */
    /* vertical-align: bottom; */
/* } */

.side_title_wrapper {
    min-height: 200px;
    height: 100%;
    max-width: 60px;
    position: absolute;
    /* top: 5px; */
    overflow-wrap: break-word;
    display: inline-block;
}

.side_title {
    /* color: white; */
    display: inline-block;
    font-weight: 900;
    font-size: 18px;
    /* text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px gray, 0 0 30px grey, 0 0 40px grey, 0 0 55px black, 0 0 75px black; */
    text-transform: uppercase;
    transform: rotate(90deg) translateX(-25px);
    transform: rotate(90deg);
    transform-origin: 0.5em center 0;
    /* float: left; */
    max-width: 210px; 
    /* margin-right: -160px; */
    overflow-wrap: break-word;
    /* height: 80px; */
    /* z-index: 100; */
}
.side_title_wrapper + div {
	margin-left: 20px;
}

/* #game_decks_wrapper {
    width: 954px;
} */

.flood_card {
    background-image: url(img/flood.jpg);
    display: inline-block;
}

#flood_card_area {
    display: inline-block;
    width: 100%;
    margin-left: 138px;
}

.flood_deck_area {
    display: inline-block;
    width: 100%;
    height: 177.75px;
    position: relative;
}

.treasure_card {
    background-image: url(img/treasure.jpg);
    display: inline-block;
}

#treasure_card_area {
    display: inline-block;
    width: 100%;
    margin-left: 138px;
}

.treasure_deck_area {
    display: inline-block;
    width: 100%;
    height: 177.75px;
    position: realtive;
}

.treasure_starting_area {
    /* background-color: red; */
    /* opacity: 70%; */
    position: absolute;
    width: 108px;
	height: 128px;
    padding-left: 20px;
}

.treasure_figure {
    background-image: url(img/figures.png);
    /* background-size: auto 120px; */
	/* border-radius: 10px; */
    z-index: 20;
	width: 88.5px;
    height: 120px;
    /* background-clip: content-box; */
    display: inline-block;
    /* filter: drop-shadow(0px 0px 2px 10px #000000); */
    /* position: relative; */
}

/* .active_slot:hover {
	box-shadow: 0px 0px 1px 3px purple !important;
}

.active_slot {
	cursor: pointer;
    box-shadow: 0px 0px 4px 2px white !important;
} */

/* .possibleMove.island_tile:hover {
	box-shadow: 0px 0px 2px 3px blue !important;
} */

.possibleMove {
	cursor: pointer;
}

.possibleMove.island_tile {
    box-shadow: 0px 0px 4px 4px orangered !important;
    /* background-color:rgba(0, 0, 0, 0.5); */
    opacity: 100%;
}

.possibleMove.otherPlayer.island_tile {
    box-shadow: 0px 0px 4px 4px purple !important;
}

.possibleCard {
    cursor: pointer;
    box-shadow: 0px 0px 4px 4px orangered !important;
}

.possibleCard:hover {
	box-shadow: 0px 0px 4px 2px blue !important;
}

.possiblePlayer {
    cursor: pointer;
    box-shadow: 0px 0px 4px 4px orangered !important;
}

.possiblePlayer:hover {
	box-shadow: 0px 0px 4px 2px blue !important;
}

.selected {
	cursor: pointer;
	box-shadow: 0px 0px 4px 2px blue !important;
}

.possiblePawn {
    cursor: pointer;
    filter: drop-shadow(0px 0px 5px 10px lightyellow);
    /* box-shadow: 0px 0px 4px 4px orangered !important; */

    opacity: 30%;
}

.possiblePawn:hover {
    filter: drop-shadow(0px 0px 5px 10px lightblue);
	/* box-shadow: 0px 0px 4px 2px blue !important; */
    opacity: 100%;
    
}

.selectedPawn {
    cursor: pointer;
    filter: drop-shadow(0px 0px 5px 10px lightblue);
	/* box-shadow: 0px 0px 4px 2px blue !important; */
    opacity: 100%;
}

.fadeTile {
    opacity: 50%;
}

.p_board_icons {
    display: inline-block;
    /* vertical-align: bottom; */
    /* position: relative; */
}

.adventurer_name {
    font-weight: bold ;
    margin-top: 5px;
    margin-left: 5px;
}

.location {
    /* font-weight: bold ; */
    margin-top: 5px;
    margin-left: 5px;
}

.card_icon {
    background-image: url(img/card_icon.jpg);
    /* background-size: 20%; */
    border-radius: 3px;
	box-shadow: 1px 1px 1px 0px #222;
    display: inline-block;
    width: 26px;
    height: 34px;
    background-clip: content-box;
    margin: 5px;
    /* margin-left: 5px; */
    /* margin-top: 5px; */
    position: relative;
}

.cardcount {
    position: absolute;
    color: white;
    bottom: 8px;
    left: 8px;
}

.figure_icon {
    background-image: url(img/figures_icon.png);
    /* background-size: 20%; */
    display: inline-block;
    width: 25px;
    height: 34px;
    background-clip: content-box;
    margin-right: 5px;
    margin-top: 5px;
    position: relative;
}


